
<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript">

        if (!window.console)
            console = { log: function () { } };
    </script>
    

<title>Regulators Trenton Water System Threatens Public Health</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="New Jersey&amp;rsquo;s top environmental regulator says alleged failures at Trenton&amp;rsquo;s water utility could pose a threat to public health.
" />  <meta name="Title" content="Regulators Trenton Water System Threatens Public Health"/> 
    <link rel="shortcut icon" href="https://vertassets.blob.core.windows.net/sites/favicons/wol-favicon.ico" />
    

<!-- Google Analytics -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');


    var gaConfig = {
        'legacyCookieDomain': 'none',
        'allowLinker': true
    };

    ga('create', 'UA-13015922-3', 'auto', gaConfig);

    ga('require', 'linker');
    ga('linker:autoLink', ['cart.lifesciencetraininginstitute.com', 'www.lifesciencetraininginstitute.com']);

            ga('set', "dimension2", 'News Feature');

    ga('send', 'pageview', '/doc/regulators-trenton-water-system-threatens-public-health-0001?documenttype=NewsFeature&hascompany=N&hasauthor=Y&author=sara-jerome');
</script>
<!-- End Google Analytics -->

    <link href="/wwwroot/css/lib.min.css?v=27562" rel="stylesheet"/>

    <link href="/wwwroot/css/accents/purple.min.css?v=27562" rel="stylesheet"/>


    <!--[if lt IE 9]>
        <script src ="/wwwroot/js/ie/ie.min.js?v=27562"></script>

    <![endif]-->

    <script type="text/javascript">
        var __reCaptchaKey__ = '6LdPmBETAAAAACfMULcKXmx7QCKc9C-vMqqsK0Qb';
        var __vertVids = [];

        var events = (function(){
            var topics = {};
            var hOP = topics.hasOwnProperty;

            return {
                subscribe: function(topic, listener) {
                    // Create the topic's object if not yet created
                    if(!hOP.call(topics, topic)) topics[topic] = [];

                    // Add the listener to queue
                    var index = topics[topic].push(listener) -1;

                    // Provide handle back for removal of topic
                    return {
                        remove: function() {
                            delete topics[topic][index];
                        }
                    };
                },
                publish: function(topic, info) {
                    // If the topic doesn't exist, or there's no listeners in queue, just leave
                    if(!hOP.call(topics, topic)) return;

                    // Cycle through topics queue, fire!
                    topics[topic].forEach(function(item) {
                        item(info != undefined ? info : {});
                    });
                }
            };
        })();
    </script>

    <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
    <!--[if !IE 8]><!-->
    <script src="https://www.google.com/recaptcha/api.js?onload=recaptchaCallback&render=explicit"></script><!--<![endif]-->
    <script>
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
    </script>
    
    <script>
        // there is multiple captchas on sites pages 
        // this will interate from all of them and create a call back function
        var recaptchaCallback = function () {
            var captchas = document.getElementsByClassName("g-recaptcha");
            for (var i = 0; i < captchas.length; i++) {
                grecaptcha.render(captchas[i], { 'sitekey': __reCaptchaKey__ });
            }
            events.publish("recaptchaCallbackComplete");
        };
    </script>
        <script>
            dataLayer = [];
        </script>


    
        <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5a205ebe31a4050013671183&product=inline-share-buttons' async='async'></script>


    
    
        <link rel="canonical" href="https://www.wateronline.com/doc/regulators-trenton-water-system-threatens-public-health-0001" />
    <link rel="alternate" type="application/rss+xml" title="Rss rssnews" href="/rssfeeds/rssnews" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="wateronline">
<meta name="twitter:creator" content="Sara Jerome">    <meta name="twitter:title" content="Regulators: Trenton Water System Threatens Public Health">
    <meta name="twitter:description" content="&lt;p&gt;New Jersey&amp;rsquo;s top environmental regulator says alleged failures at Trenton&amp;rsquo;s water utility could pose a threat to public health.&lt;/p&gt;
">
<meta name="twitter:image:src">

</head>
<body class="">
    <!--[if IE 8]>
        <script type="text/javascript">
            document.getElementsByTagName('body')[0].className = 'ie-8';
        </script>
    <![endif]-->


    <script type="text/template" id="login-template">
    <% if(!userLoggedIn) { %>
    <a href="<%= signInUrl %>"><%= signInLinkText %></a> or
    <a href="<%= signUpUrl %>"><%= signUpLinkText %></a>
    <% } else { %>
    Welcome,
    <strong><%= userName %></strong> 
    (<a href="<%= profileUrl %>">Profile</a> |
    <a id="sign-out-link" href="<%= signOutUrl %>">Sign Out</a>)
    <% } %>
</script>


<script type="text/template" id="hello-bar-template">
    <div id="hellobar" class="<%= topClass %>">
        <span class="hello-bar-text"><%= text %></span>
        <span class="fancy-btn-inline-block">
            <a class="fancy-btn-default fancy-btn-variable" href="<%= url %>">
                <span class="fa <%= iconClass %> icon-white"></span> <%= buttonText %>
            </a>
        </span>
    </div>
    <div id="hellobar-pusher"></div>
</script>

    <div class="hellobar-container mobile-hide noprint"></div>

<div class="site-header">
    <div class="container">
        <div class="site-header-inner ir">
            <a href="/"><img alt="www.wateronline.com" title="www.wateronline.com" src="https://vertassets.blob.core.windows.net/sites/logos/wol.png" border="0" /></a>
            <div class="right-hand-information">
                
                <div class="user-login-indicator noprint" data-action="/user/LoginInfo"></div>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-default navbar-sites noprint" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navLinks" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <form action="/search" method="GET" class="navbar-right" role="search">
            <input type="text" name="keyword" id="keyword" maxlength="1000" /><a class="search-button" href="#"><span class="fa fa-search icon-white" title=""> </span></a>
        </form>
        <div class="collapse navbar-collapse" id="navLinks">

            <ul class="nav navbar-nav">
                    <li class="dropdown">        <a href="/solution/drinking-water" class="dropdown-toggle" data-toggle="dropdown">
            Water
                <b class="caret "></b>
        </a>
        <ul class="dropdown-menu ">
                <li class="dropdown-submenu">        <a href="/solution/drinking-water-treatment" class="dropdown-toggle" data-toggle="dropdown-submenu">
            Treatment
<span class="fa fa-chevron-right submenu-icon" title=""> </span>        </a>
        <ul class="dropdown-menu dropdown-last-level">
                <li class="">        <a href="/solution/drinking-water-treatment" >All Treatment</a>
</li>
                <li class="">        <a href="/solution/contaminant-removal" >Contaminant Removal</a>
</li>
                <li class="">        <a href="/solution/desalination" >Desalination</a>
</li>
                <li class="">        <a href="/solution/drinking-water-disinfection" >Disinfection</a>
</li>
                <li class="">        <a href="/solution/drinking-water-filtration" >Filtration</a>
</li>
                <li class="">        <a href="/industrysegment/water-membranes" >Membranes</a>
</li>
        </ul>
</li>
                <li class="dropdown-submenu">        <a class="dropdown-toggle" data-toggle="dropdown-submenu">
            Measurement
<span class="fa fa-chevron-right submenu-icon" title=""> </span>        </a>
        <ul class="dropdown-menu dropdown-last-level">
                <li class="">        <a href="/solution/drinking-water-measurement" >All Measurement</a>
</li>
                <li class="">        <a href="/solution/drinking-water-analysis" >Analysis</a>
</li>
                <li class="">        <a href="/solution/drinking-water-flow-control-measurement" >Flow Control and Measurement</a>
</li>
                <li class="">        <a href="/solution/water-instrumentation" >Instrumentation</a>
</li>
                <li class="">        <a href="/solution/scada-automation" >SCADA and Automation</a>
</li>
        </ul>
</li>
                <li class="dropdown-submenu">        <a class="dropdown-toggle" data-toggle="dropdown-submenu">
            Distribution
<span class="fa fa-chevron-right submenu-icon" title=""> </span>        </a>
        <ul class="dropdown-menu dropdown-last-level">
                <li class="">        <a href="/solution/drinking-water-distribution" >All Distribution</a>
</li>
                <li class="">        <a href="/solution/amr-ami-and-metering" >AMR, AMI and Metering </a>
</li>
                <li class="">        <a href="/solution/water-loss" >Water Loss</a>
</li>
        </ul>
</li>
                <li class="dropdown-submenu">        <a class="dropdown-toggle" data-toggle="dropdown-submenu">
            Source Water
<span class="fa fa-chevron-right submenu-icon" title=""> </span>        </a>
        <ul class="dropdown-menu dropdown-last-level">
                <li class="">        <a href="/solution/source-water" >All Source Water</a>
</li>
                <li class="">        <a href="/solution/source-water-contamination" >Contamination</a>
</li>
                <li class="">        <a href="/solution/desalination" >Desalination</a>
</li>
                <li class="">        <a href="/solution/water-scarcity" >Scarcity</a>
</li>
                <li class="">        <a href="/solution/water-reuse" >Water Reuse</a>
</li>
        </ul>
</li>
                <li class="">        <a href="/topic/drinking-water-regulations" >Regulations and Legislation</a>
</li>
        </ul>
</li>
                    <li class="dropdown">        <a href="/solution/wastewater" class="dropdown-toggle" data-toggle="dropdown">
            Wastewater
                <b class="caret "></b>
        </a>
        <ul class="dropdown-menu ">
                <li class="dropdown-submenu">        <a href="/solution/wastewater-treatment" class="dropdown-toggle" data-toggle="dropdown-submenu">
            Treatment
<span class="fa fa-chevron-right submenu-icon" title=""> </span>        </a>
        <ul class="dropdown-menu dropdown-last-level">
                <li class="">        <a href="/solution/wastewater-treatment" >All Treatment</a>
</li>
                <li class="">        <a href="/solution/wastewater-aeration" >Aeration and Blowers</a>
</li>
                <li class="">        <a href="/solution/collection-systems " >Collection Systems</a>
</li>
                <li class="">        <a href="/solution/wastewater-contaminant-removal " >Contaminant Removal</a>
</li>
                <li class="">        <a href="/solution/wastewater-disinfection" >Disinfection</a>
</li>
                <li class="">        <a href="/solution/wastewater-filtration" >Filtration</a>
</li>
                <li class="">        <a href="/solution/flushables" >Flushables</a>
</li>
                <li class="">        <a href="/solution/wastewater-membranes" >Membranes</a>
</li>
                <li class="">        <a href="/solution/wastewater-mixing" >Mixing</a>
</li>
                <li class="">        <a href="/solution/nutrient-removal" >Nutrient Removal</a>
</li>
                <li class="">        <a href="/solution/odor-control" >Odor Control</a>
</li>
                <li class="">        <a href="/industrysegment/producedwatertreatment" >Produced Water</a>
</li>
                <li class="">        <a href="/solution/separation-clarification  " >Separation and Clarification</a>
</li>
                <li class="">        <a href="/solution/sludge-biosolids-processing" >Sludge and Biosolids Processing</a>
</li>
                <li class="">        <a href="/industrysegment/wastewater-pump" >Wastewater Pumps</a>
</li>
                <li class="">        <a href="/solution/water-reuse" >Water Reuse</a>
</li>
        </ul>
</li>
                <li class="dropdown-submenu">        <a class="dropdown-toggle" data-toggle="dropdown-submenu">
            Measurement
<span class="fa fa-chevron-right submenu-icon" title=""> </span>        </a>
        <ul class="dropdown-menu dropdown-last-level">
                <li class="">        <a href="/solution/wastewater-measurement" >All Measurement</a>
</li>
                <li class="">        <a href="/solution/wastewater-analysis " >Analytical Instruments</a>
</li>
                <li class="">        <a href="/solution/wastewater-flow-control-measurement" >Flow Control and Measurement</a>
</li>
                <li class="">        <a href="/solution/wastewater-instrumentation " >Instrumentation</a>
</li>
                <li class="">        <a href="/solution/scada-automation" >SCADA and Automation</a>
</li>
        </ul>
</li>
                <li class="dropdown-submenu">        <a href="/solution/wastewater-management" class="dropdown-toggle" data-toggle="dropdown-submenu">
            Management
<span class="fa fa-chevron-right submenu-icon" title=""> </span>        </a>
        <ul class="dropdown-menu dropdown-last-level">
                <li class="">        <a href="/solution/wastewater-management" >All Management</a>
</li>
                <li class="">        <a href="/solution/flushables" >Flushables</a>
</li>
                <li class="">        <a href="/solution/pump-station-monitoring" >Pump Station Control</a>
</li>
                <li class="">        <a href="/solution/pumps-valves" >Pumps and Valves </a>
</li>
                <li class="">        <a href="/solution/sewers-sewer-line-maintenance" >Sewers and Sewer Line Maintenance </a>
</li>
                <li class="">        <a href="/solution/stormwater-management" >Stormwater</a>
</li>
        </ul>
</li>
                <li class="">        <a href="/solution/wastewater-regulations-and-legislation" >Regulations and Legislation</a>
</li>
        </ul>
</li>
                    <li class="dropdown">        <a href="/topic/industrial-water-and-wastewater" class="dropdown-toggle" data-toggle="dropdown">
            Industrial
                <b class="caret "></b>
        </a>
        <ul class="dropdown-menu ">
                <li class="">        <a href="/solution/industrial" >All Industrial</a>
</li>
                <li class="">        <a href="/solution/food-beverage    " >Food &amp; Beverage</a>
</li>
                <li class="dropdown-submenu">        <a class="dropdown-toggle" data-toggle="dropdown-submenu">
            Petroleum &amp; Refining
<span class="fa fa-chevron-right submenu-icon" title=""> </span>        </a>
        <ul class="dropdown-menu dropdown-last-level">
                <li class="">        <a href="/solution/petroleum-refining" >All Petroleum &amp; Refining</a>
</li>
                <li class="">        <a href="/solution/produced-water-treatment" >Produced Water</a>
</li>
        </ul>
</li>
                <li class="">        <a href="/solution/power-generation" >Power Generation</a>
</li>
                <li class="">        <a href="/solution/water-reuse" >Water Reuse</a>
</li>
        </ul>
</li>
                    <li class="dropdown">        <a href="/topic/utility-management" class="dropdown-toggle" data-toggle="dropdown">
            Utility Management
                <b class="caret "></b>
        </a>
        <ul class="dropdown-menu ">
                <li class="">        <a href="/solution/utility-management" >All Utility Management</a>
</li>
                <li class="">        <a href="/solution/amr-ami-and-metering " >AMR, AMI and Metering</a>
</li>
                <li class="">        <a href="/solution/asset-management" >Asset Management</a>
</li>
                <li class="">        <a href="/solution/consumer-outreach" >Consumer Outreach</a>
</li>
                <li class="">        <a href="/solution/funding" >Funding</a>
</li>
                <li class="">        <a href="/solution/labor" >Labor</a>
</li>
                <li class="">        <a href="/solution/resiliency" >Resiliency</a>
</li>
                <li class="">        <a href="/solution/scada-automation" >SCADA &amp; Automation</a>
</li>
                <li class="dropdown-submenu">        <a class="dropdown-toggle" data-toggle="dropdown-submenu">
            Source Water
<span class="fa fa-chevron-right submenu-icon" title=""> </span>        </a>
        <ul class="dropdown-menu dropdown-last-level">
                <li class="">        <a href="/solution/source-water" >All Source Water</a>
</li>
                <li class="">        <a href="/solution/source-water-contamination" >Contamination</a>
</li>
                <li class="">        <a href="/solution/desalination" >Desalination </a>
</li>
                <li class="">        <a href="/solution/water-scarcity" >Water Scarcity</a>
</li>
                <li class="">        <a href="/solution/water-reuse" >Water Reuse</a>
</li>
        </ul>
</li>
                <li class="">        <a href="/solution/regulations-and-legislation" >Regulations and Legislation</a>
</li>
                <li class="">        <a href="/solution/water-loss" >Water Loss and Leak Detection</a>
</li>
        </ul>
</li>
                    <li class="">        <a href="/solution/innovations" >Innovations</a>
</li>
            </ul>
        </div>

    </div>
</div>




    
    

<div class="container-fluid top-ads noprint">
    <div class="top-ad-container mobile-hide">
        <div class="ad-white-canvas">
<script>
    googletag.cmd.push(function () {
        googletag.defineSlot('/52748101/wateronline/wol-leaderboard', [728,90], '2d2feb1d-104b-4270-8785-7ce6644ddee7').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
        googletag.enableServices();
    });
</script>

<div id="2d2feb1d-104b-4270-8785-7ce6644ddee7" class="ad ">
    <script>
        googletag.cmd.push(function () { googletag.display("2d2feb1d-104b-4270-8785-7ce6644ddee7"); });
    </script>
</div></div>
        <div class="ad-white-canvas earpiece">
<script>
    googletag.cmd.push(function () {
        googletag.defineSlot('/52748101/wateronline/wol-earpiece', [230,90], '79aec0f9-6eab-4c15-943c-d6b1ce3b3a50').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
        googletag.enableServices();
    });
</script>

<div id="79aec0f9-6eab-4c15-943c-d6b1ce3b3a50" class="ad ">
    <script>
        googletag.cmd.push(function () { googletag.display("79aec0f9-6eab-4c15-943c-d6b1ce3b3a50"); });
    </script>
</div></div>
    </div>
    <div class="mobile-ad-container desktop-hide">
        
<script>
    googletag.cmd.push(function () {
        googletag.defineSlot('/52748101/wateronline/wol-leaderboard', [320,50], 'aae25810-3707-4bff-ba90-6c09cf8a7553').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
        googletag.enableServices();
    });
</script>

<div id="aae25810-3707-4bff-ba90-6c09cf8a7553" class="ad desktop-hide">
    <script>
        googletag.cmd.push(function () { googletag.display("aae25810-3707-4bff-ba90-6c09cf8a7553"); });
    </script>
</div>
    </div>
</div>

    <div class="container main-container">
        

<div class="layout-two-column-row document-contents ">
    <div class="layout-two-column-main">
        <div id="document-top" class="document-type-header bottom-seperator clear">

	<input id="leadType" type="hidden" value="Article" />
	<input id="leadUserId" type="hidden" value="NA" />
	<input id="leadDocUrl" type="hidden" value="regulators-trenton-water-system-threatens-public-health-0001" />
	<input id="leadDocType" type="hidden" value="News Feature" />

    <h4 class="doc-header inline">
            <span id="docType">News Feature</span>
                 |   January 25, 2018    </h4>
    <div class="readeractionlinks mobile-hide noprint">
    <div><a href="/rssfeeds/rssnews"><i class="rss-icon reader-icon" title="RSS"></i></a></div>
    <div><a href="javascript:window.print();"><i class="print-icon reader-icon" title="Print"></i></a></div>
</div>

    <div id="shareThisTopBar">
        <div class="sharethis-inline-share-buttons"></div>
    </div>
</div>
<div>
    <h1 class="doc-header">Regulators: Trenton Water System Threatens Public Health</h1>
    
</div>
<div class="body">
        <div class="headshot-image">
            <a href="https://vertassets.blob.core.windows.net/image/9364a7f4/9364a7f4-2ec9-4b0b-897e-5c29199e258d/sjerome_photo.jpg"><img src="https://vertassets.blob.core.windows.net/image/9364a7f4/9364a7f4-2ec9-4b0b-897e-5c29199e258d/81_54-sjerome_photo.jpg" alt="Sara Jerome" title="Sara Jerome" class=""/></a>
        </div>
            <p>By <a href="/author/sara-jerome">Sara Jerome</a>, <br><a href=https://twitter.com/sarmje>@sarmje</a></p>


<div class="pull-right primary-img-container">
	
</div>
    
    <p>New Jersey&rsquo;s top environmental regulator says alleged failures at Trenton&rsquo;s water utility could pose a threat to public health.</p>

<p>Bob Martin, commissioner of the New Jersey Department of Environmental Protection, raised the issue in a letter this month to Trenton Mayor Eric Jackson, <a href="http://www.trentonian.com/health/20180112/nj-dep-trentons-failure-to-improve-water-service-threatens-public-health-city-must-act-now" target="_blank">according to</a> <em>The Trentonian</em>.</p>

<p>&ldquo;The City&rsquo;s inability or unwillingness to act with the urgency the current situation requires potentially puts at risk the health of the 225,000 people Trenton Water Works serves in the City of Trenton and in Ewing, Hamilton, Lawrence and Hopewell townships,&rdquo; the letter said.</p>

<p>Purple water is among the latest problems allegedly served up by Trenton Water Works, <em>The Trentonian</em> reported.</p>

<p>&ldquo;Trenton Water Works under the Jackson administration has been cited for multiple alleged violations over the last four years, including a recent snafu that caused the utility to deliver purple water tinged with an excess concentration of potassium permanganate and excessive levels of haloacetic acids,&rdquo; the report said.</p>

<p>The utility faces four violations from the state after a filter failure went undetected for a month, <a href="http://www.nj.com/mercer/index.ssf/2018/01/trenton_water_works_faces_more_regulation_issues.html" target="_blank">according to</a> NJ.com.</p>

<p>&ldquo;The so-called combined filter effluent, or CFE, collects the filter water before it enters the system, but was not working properly between September 25 to November 2, 2017,&rdquo; the report said.</p>

<p>&ldquo;As a result, Trenton Water Works is not sure if the city&#39;s water supply was below the required turbidity level &mdash; a minimum standard of the cloudiness of water caused by particles,&rdquo; the report said.</p>

<p>Trenton has also come under fire in recent months for understaffing its water utility. <a href="http://www.nj.com/mercer/index.ssf/2017/12/state_to_trenton_water_utility_needs_help_and_you.html" target="_blank">NJ.com</a> summarized previous criticisms from state regulators: &ldquo;Trenton&#39;s water utility is severely understaffed and lacks leadership and technical expertise to complete its mission to provide reliable and safe water to city residents, business and the towns it serves in Mercer County.&rdquo;</p>

<p>For similar stories visit Water Online&rsquo;s <a href="http://www.wateronline.com/solution/contaminant-removal" target="_blank">Drinking Water Contaminant Removal Solutions Center</a>.</p>


</div>

 
 



	<div class="newsletter-signup-bait noprint">
<form action="/UserEmailOnly/CreateEmailOnlyWithCaptcha?referringlink=document-body-bait" class="form-horizontal" id="documentBodyBaitForm" method="post"><input name="__RequestVerificationToken" type="hidden" value="IdbISp4Il7kHRNJrOKdgFoMGA66qHbtMGrkgCaFr6y1ZhN7-s64AiWieuqWIsg6QoX9NylKvhIreNeEUzC_HpVgydEwldevsZUhJzNquyF81" />		    <div class="top-text">Like what you are reading?</div>
		    <div>
		        <span class="bottom-text">Sign up for our free newsletter</span>
		        <input type="hidden" name="Source" value="EmailReg-DocumentBodyBait-WOL">
		        <input type="text" name="Email" data-val="true" data-val-required="Please enter a valid email address" class="valid">
		        <div style="padding-left: 15px;" class="help-inline field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></div>
		        <div class="row">
    <div class="col-sm-12">
        <label class="terms-checkbox">
            <input id="TermsPrivacyPolicy" name="TermsAndPrivacyPolicy.TermsPrivacyPolicy"  type="checkbox" value="true" data-val="true" data-val-brequired="You must accept the Terms And Conditions and the Privacy Statement.">
            <span>
                I agree to the <a href="/static/Legal" target="_blank">Terms</a>
                and <a href="/static/Privacy" target="_blank">Privacy Statement</a>.
            </span>
        </label>
        <div style="padding-left: 15px;" class="help-inline field-validation-error" data-valmsg-for="TermsAndPrivacyPolicy.TermsPrivacyPolicy" data-valmsg-replace="true"></div>
    </div>
</div>

                <div class="g-recaptcha" id="reCaptcha1"></div>
		        <button type="submit" class="btn btn-sites-primary" disabled>SIGN ME UP</button>
		    </div>
</form>	</div>
   

<div class="noprint">
    <script type="text/javascript">
        var idcomments_acct = 'f18c61bc1975f7bda6323fdb70dc3669';
        var idcomments_post_id = '7d11f068-57ae-454f-bff2-9f9bb63cf84e';
        var idcomments_post_url;
    </script>
    <span id="IDCommentsPostTitle" style="display:none"></span>
    <script type="text/javascript" src="https://www.intensedebate.com/js/genericCommentWrapperV2.js"></script>
</div>

<script>
    (function () {
        var category = "Lead-Contact-Supplier";
        var userString = false ? "00000000-0000-0000-0000-000000000000" : "NA";
        var action = "News Feature:" + userString;
        var label = "regulators-trenton-water-system-threatens-public-health-0001";
        var leadLink = document.getElementById("articleLeadLink");
        if (leadLink) {
            leadLink.onclick = function() {
                ga('send', 'event', category, action, label);
            };
        }
    })();
</script>
    </div>
    <div class="layout-two-column-secondary noprint">
        

	<div class="content-item">

<div class="content-bribe-with-image" style="display:none;">
    <div class="ajax-loader"><span></span></div>
    <fieldset>
        <legend>Newsletter Signup</legend>
            <div class="content-bribe-image">
                <img src="https://vertassets.blob.core.windows.net/sites/contentbribes/SubscribeToday.png" alt="Newsletter Signup" title="Newsletter Signup" />
            </div>
        <div class="content-bribe-copy">
<form action="/UserEmailOnly/CreateEmailOnlyWithCaptcha?referringlink=sidebar-widget" id="user-form" method="post">                <div>Get the latest water industry news, insights, and analysis delivered to your inbox.</div>
                <div class="callout-copy"></div>
                <div>
                    <input type="hidden" name="Source" value="EmailReg-WOL" />
                    <input type="hidden" name="ContentBribeUrl" />
                    <input id="Email" name="Email" type="text" data-val="true" data-val-required="You must enter a valid email address." class="form-control" placeholder="Email" />
                    <div style="padding-left: 15px;" class="help-inline field-validation-error" data-valmsg-for="Email" data-valmsg-replace="true"></div>

                    <div class="row">
    <div class="col-sm-12">
        <label class="terms-checkbox">
            <input id="TermsPrivacyPolicy" name="TermsAndPrivacyPolicy.TermsPrivacyPolicy"  type="checkbox" value="true" data-val="true" data-val-brequired="You must accept the Terms And Conditions and the Privacy Statement.">
            <span>
                I agree to the <a href="/static/Legal" target="_blank">Terms</a>
                and <a href="/static/Privacy" target="_blank">Privacy Statement</a>.
            </span>
        </label>
        <div style="padding-left: 15px;" class="help-inline field-validation-error" data-valmsg-for="TermsAndPrivacyPolicy.TermsPrivacyPolicy" data-valmsg-replace="true"></div>
    </div>
</div>


                    <div class="g-recaptcha" id="reCaptcha1"></div>



                </div>
                <span class="fancy-btn-inline">
                    <button type="submit" name="save-modal" id="save-modal" class="content-bribe-button fancy-btn-variable">
                        <i><span class="fa fa-arrow-right icon-white" title=""> </span></i> SIGN ME UP
                    </button>
                </span>
</form>        </div>
    </fieldset>
</div>
	</div>
<div class="content-item bucket">
	<div class="similar-documents seperated-items" data-geturl="/service/SimilarDocuments?online=WOL&amp;docId=7d11f068-57ae-454f-bff2-9f9bb63cf84e">
		<h2 class="header" style="display:none;"><span>YOU MAY ALSO LIKE...</span></h2>
		<div class="ajax-loader"><span></span></div>
		<ul class="no-bullets"></ul>
	</div>
</div>
	<div class="content-item">
		
<script>
    googletag.cmd.push(function () {
        googletag.defineSlot('/52748101/wateronline/wol-medium-rectangle', [300,250], 'a175e2c5-fbba-455b-8863-664e2d3a53af').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
        googletag.enableServices();
    });
</script>

<div id="a175e2c5-fbba-455b-8863-664e2d3a53af" class="ad ">
    <script>
        googletag.cmd.push(function () { googletag.display("a175e2c5-fbba-455b-8863-664e2d3a53af"); });
    </script>
</div>
		<table class="square-ads-container clearfix">
        <tr>
            <td>
<script>
    googletag.cmd.push(function () {
        googletag.defineSlot('/52748101/wateronline/wol-square-button', [125,125], '2e8ffb6b-ec82-4d5b-8e71-3986cbd57a1c').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
        googletag.enableServices();
    });
</script>

<div id="2e8ffb6b-ec82-4d5b-8e71-3986cbd57a1c" class="ad ">
    <script>
        googletag.cmd.push(function () { googletag.display("2e8ffb6b-ec82-4d5b-8e71-3986cbd57a1c"); });
    </script>
</div></td>
            <td>
<script>
    googletag.cmd.push(function () {
        googletag.defineSlot('/52748101/wateronline/wol-square-button', [125,125], '6cb393fa-8c2d-420c-acc8-da04b760ebff').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
        googletag.enableServices();
    });
</script>

<div id="6cb393fa-8c2d-420c-acc8-da04b760ebff" class="ad ">
    <script>
        googletag.cmd.push(function () { googletag.display("6cb393fa-8c2d-420c-acc8-da04b760ebff"); });
    </script>
</div></td>
        </tr>
        <tr>
            <td>
<script>
    googletag.cmd.push(function () {
        googletag.defineSlot('/52748101/wateronline/wol-square-button', [125,125], '2010707d-9290-4527-8768-c159b7fb2bca').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
        googletag.enableServices();
    });
</script>

<div id="2010707d-9290-4527-8768-c159b7fb2bca" class="ad ">
    <script>
        googletag.cmd.push(function () { googletag.display("2010707d-9290-4527-8768-c159b7fb2bca"); });
    </script>
</div></td>
            <td>
<script>
    googletag.cmd.push(function () {
        googletag.defineSlot('/52748101/wateronline/wol-square-button', [125,125], '580ae927-91e5-4e93-8db6-0f615511ddb7').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
        googletag.enableServices();
    });
</script>

<div id="580ae927-91e5-4e93-8db6-0f615511ddb7" class="ad ">
    <script>
        googletag.cmd.push(function () { googletag.display("580ae927-91e5-4e93-8db6-0f615511ddb7"); });
    </script>
</div></td>
        </tr>
        <tr>
            <td>
<script>
    googletag.cmd.push(function () {
        googletag.defineSlot('/52748101/wateronline/wol-square-button', [125,125], 'ad3d3f83-2c19-44b2-9cb6-d58a93319f20').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
        googletag.enableServices();
    });
</script>

<div id="ad3d3f83-2c19-44b2-9cb6-d58a93319f20" class="ad ">
    <script>
        googletag.cmd.push(function () { googletag.display("ad3d3f83-2c19-44b2-9cb6-d58a93319f20"); });
    </script>
</div></td>
            <td>
<script>
    googletag.cmd.push(function () {
        googletag.defineSlot('/52748101/wateronline/wol-square-button', [125,125], '2290f323-fdd1-4446-8d37-5aff49f6c3f0').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
        googletag.enableServices();
    });
</script>

<div id="2290f323-fdd1-4446-8d37-5aff49f6c3f0" class="ad ">
    <script>
        googletag.cmd.push(function () { googletag.display("2290f323-fdd1-4446-8d37-5aff49f6c3f0"); });
    </script>
</div></td>
        </tr>
</table>
	</div>
<div class="modal fade" id="company-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Contact Details</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    
                    	<div class="form-group">
		<label class="col-sm-4 control-label required">Address</label>
		<div class="col-sm-8" style="padding-top:5px;"> <br />  <br /> </div>
	</div>

                    	<div class="form-group">
		<label class="col-sm-4 control-label required">Phone</label>
		<div class="col-sm-8" style="padding-top:5px;"><br /></div>
	</div>

                    
                    <div class="form-group">
                        <label class=" col-sm-4 control-label required">&nbsp;</label>
                        <div class="col-sm-8" style="padding-top:5px;">
                            <a href="/ECommCenter">Company Profile</a> <br />
                            <a href="/lead/New?type=ContactRequest&amp;itemId=0">Email Us</a>
                        </div>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</div>

    </div>
</div>



    </div>
    
<div class="vert-footer-container noprint">
        <div class="footer footer-row-4">
                <div class="footer-column-4">
                        <ul class="no-bullets">
            <li>
                                <span>Explore Water Online</span>
                    <ul class="no-bullets">
                            <li> <a href="/author/kevin-westerling" >From The Editor</a> </li>
                            <li> <a href="/hub/bucket/archivenlbucket" >Water Online Newsletters</a> </li>
                            <li> <a href="/hub/bucket/homelatestheadlines" >Latest Water and Wastewater News</a> </li>
                            <li> <a href="/hub/bucket/fromtheeditor" >Article Archives</a> </li>
                    </ul>
            </li>
            <li>
                                <span>Popular Features</span>
                    <ul class="no-bullets">
                            <li> <a href="/resource/water-online-radio" >Water Talk</a> </li>
                            <li> <a href="/solution/wateronlinetv" >Water Online TV</a> </li>
                            <li> <a href="http://bit.do/ecke5"   target="_blank"    >Water Online Digital Magazines (2018-)</a> </li>
                            <li> <a href="/solution/water-innovations-digital-magazine-archive-pre" >Digital Magazine Archive (pre-2018)</a> </li>
                            <li> <a href="/eventscalendar/" >Upcoming Events</a> </li>
                    </ul>
            </li>
    </ul>

                </div>                <div class="footer-column-4">
                        <ul class="no-bullets">
            <li>
                                <span>Beyond Water Online</span>
                    <ul class="no-bullets">
                            <li> <a href="https://twitter.com/wateronline" >Water Online On Twitter</a> </li>
                            <li> <a href="https://www.linkedin.com/groups/4444098/" >Water Online On LinkedIn</a> </li>
                            <li> <a href="/user/new" >Sign-Up For Our Newsletter</a> </li>
                            <li> <a href="/doc/water-online-premier-partners-0001" >Partners</a> </li>
                    </ul>
            </li>
    </ul>

                </div>                <div class="footer-column-4">
                        <ul class="no-bullets">
            <li>
                                <span>Advertise On Water Online</span>
                    <ul class="no-bullets">
                            <li> <a href="/doc/water-online-media-kit-0001?immediate=true" >Water Online Media Kit</a> </li>
                            <li> <a href="https://vertassets.blob.core.windows.net/download/f32804d5/f32804d5-a55e-4946-8686-0ae66ad30c83/2019_editorial_calendar_water_online.pdf" >2019 Water Online Editorial Calendar</a> </li>
                            <li> <a href="/premier-advertisers" >Premier Advertisers</a> </li>
                            <li> <a href="http://www.b2brandwater.com/"   target="_blank"    >Brand Publishing</a> </li>
                    </ul>
            </li>
    </ul>

                </div>                <div class="footer-column-4">
                        <ul class="no-bullets">
            <li>
                                <span>Write For Water Online</span>
                    <ul class="no-bullets">
                            <li> <a href="/solution/water-intelligence-panel" >Water Intelligence Panel</a> </li>
                            <li> <a href="/doc/guest-expert-article-guidelines-0001" >Editorial Submission Guidelines</a> </li>
                            <li> <a href="/doc/water-online-custom-content-services-0001?immediate=true" >Custom Content Services</a> </li>
                            <li> <a href="mailto:info@wateronline.com?subject=editorial inquiry" >Contact Editor Now</a> </li>
                    </ul>
            </li>
    </ul>

                </div>        </div>
            <div class="bottom-ads-container noprint">
            <div class="bottom-ad">
<script>
    googletag.cmd.push(function () {
        googletag.defineSlot('/52748101/wateronline/wol-leaderboard', [728,90], '219ce19e-e015-42a9-82e2-73a8b043f068').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
        googletag.enableServices();
    });
</script>

<div id="219ce19e-e015-42a9-82e2-73a8b043f068" class="ad ">
    <script>
        googletag.cmd.push(function () { googletag.display("219ce19e-e015-42a9-82e2-73a8b043f068"); });
    </script>
</div></div>
            <div class="bottom-ad earpiece">
<script>
    googletag.cmd.push(function () {
        googletag.defineSlot('/52748101/wateronline/wol-earpiece', [230,90], 'bd3636fb-8293-46ec-814a-cb983b3c6fb7').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
        googletag.enableServices();
    });
</script>

<div id="bd3636fb-8293-46ec-814a-cb983b3c6fb7" class="ad ">
    <script>
        googletag.cmd.push(function () { googletag.display("bd3636fb-8293-46ec-814a-cb983b3c6fb7"); });
    </script>
</div></div>

            <div class="mobile-ad-container">
                
<script>
    googletag.cmd.push(function () {
        googletag.defineSlot('/52748101/wateronline/wol-leaderboard', [320,50], '0a68e4ce-155d-4714-8178-b8d22c9a22a7').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
        googletag.enableServices();
    });
</script>

<div id="0a68e4ce-155d-4714-8178-b8d22c9a22a7" class="ad desktop-hide">
    <script>
        googletag.cmd.push(function () { googletag.display("0a68e4ce-155d-4714-8178-b8d22c9a22a7"); });
    </script>
</div>
            </div>
        </div>
        <div class="vert-copyright">
            <a href="/static/Copyright">Copyright</a> &copy; 1996-2019 <a href="http://www.vertmarkets.com">VertMarkets, Inc.</a> All Rights Reserved.  <a href="/static/Legal">Terms of Use</a>.  <a href="/static/Privacy">Privacy Statement</a>. <a href="/user-request">Subscriber Request Form</a>. 
        </div>
</div>




<div id="acceptCookiesNav" data-action="/Cookie/GetCookiePartial?cookieName=vm_accept_coockies"></div>


    <script src ="/wwwroot/js/core/core.min.js?v=27562"></script>

    <script src ="/wwwroot/js/cookies/cookies.min.js?v=27562"></script>

    

    


    



    <script src ="/wwwroot/js/doc/doc.min.js?v=27562"></script>

    


    <script type="text/javascript">
        Sites.Validation.initializeValidators();

        var gaModel = {
  "events": []
};
        Sites.Doc.fireGoogleAnalyticsEvents(gaModel);

            </script>

    <script>
        // google tag manager
        (function() {
            var isPaid = 'false';
            dataLayer.push({ isPaid: isPaid });
        })();

        // ga
        (function() {
            var label = false ? "LoggedIn" : "LoggedOut";
            var subscriberId = "";
            var userId = false ? "00000000-0000-0000-0000-000000000000" : "null";
            var userIdString = "userid=" + userId;
            var category = subscriberId ? "NewsletterVisitor" : "NonNewsletterVisitor";
            var action = subscriberId ? "subscriberid=" + subscriberId + ":" + userIdString : userIdString;
            ga('send', 'event', category, action, label);
        })();
    </script>



</body>
</html>
